/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 juin 2017, 16:17:36
    Author     : Travail
*/

.wrapper {
    width: 247px;
    height: 400px;
    padding: 20px;
    background-color: #2c3e50;
    border-radius: 3px;
}

.cityText {
    text-align: center;
    font-family: Helvetica;
    font-size: 20px;
    color:#2ecc71;
}

.weatherIcon{
    font-size: 70px;
    padding-left: 35px;
    padding-top: 30px;
    color:#2ecc71;
}

.summary{
    text-align: center;
    padding-top: 20px;
    color:#2ecc71;
}

.wind{
    text-align: center;
    padding-bottom: 10px;
    color:#2ecc71;
}

.tempText{
    font-size: 45px;
    padding-left: 15px;
    padding-top: 30px;
    color:#2ecc71;
}

.beaufort{
    padding-top: 15px;
    font-size: 35px;
    color:#2ecc71;
    
}

.degrees{
    font-size: 50px;
    color:#2ecc71;
}

.beaufortWidth{
    width: 100%;
    display: inline-block;
    text-align: center;
}

.sunrise{
    color:#2ecc71;   
    font-size: 23px;
}


